@tailwind base;
@tailwind components;
@tailwind utilities;

#labelLetters span {
  position: absolute;
  top: 0px;
  display: block;
  transition: 0.2s;
  pointer-events: none;
  font-size: 25px;
  color: gray;
  opacity: 0%;
}
#pokeinput:focus + #labelLetters span {
  color: yellow;
  top: -25px;
  opacity: 100%;
}

#pokeinput:focus + #labelLetters p,
#pokeinput:valid + #labelLetters p {
  opacity: 0;
}

.imgPoke {
  display: flex;
  justify-content: center;
}
.imgPoke img {
  width: 60%;
}
.img-type {
  width: 46px;
  border-radius: 50px;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  background-size: contain;
  /* Ajusta el tamaño de la imagen para que encaje en el contenedor */
}

/*ESTILOS DE DATOS*/

/*COLORES DE FONDO DEPENDIENDO EL TYPE*/
.normal {
  background-color: #bfb16e;
}

.fighting {
  background-color: #cf5c35;
}

.flying {
  background-color: #bea0c2;
}

.poison {
  background-color: #b96889;
}

.ground {
  background-color: #e6c163;
}

.rock {
  background-color: #c9ab40;
}

.bug {
  background-color: #bebb30;
}

.ghost {
  background-color: #987984;
}

.steel {
  background-color: #cabbac;
}

.fire {
  background-color: #f2953b;
}

.water {
  background-color: #92a0c2;
}

.grass {
  background-color: #9dc652;
}

.electric {
  background-color: #f7cd3b;
}

.psychic {
  background-color: #f77979;
}

.ice {
  background-color: #b4d2b1;
}

.dragon {
  background-color: #a172bf;
}

.dark {
  background-color: #98794c;
}

.fairy {
  background-color: #f0a692;
}

.menu {
  position: relative;
  /*border: 1px solid cyan;*/
  border-radius: 20px;
}
.menu div {
  position: relative;
  width: 0;
  height: 30px;
  border-radius: 9px;
  background-color: white;
}

#hp-menu,
#attack-menu,
#defense-menu,
#special-attack-menu,
#special-defense-menu,
#speed-menu {
  width: 90%;
}